<style>

.experience {
    width: 100%;
    height: auto;
    background-color: var(--secondary5);

    padding-top: 2em;
    margin-left: 0em;
    margin-right: 0em;

    font-family: var(--primaryfont);
}

.experience hr {
    border: none;
    height: 1px;
    width: 60%;
    background-color: var(--secondary3);
}

.experience a {
    text-decoration: none;
    color: var(--secondary1);
}

.experience .experienceTitle {
    color: var(--secondary2);
    font-family: var(--primaryfont);
    position: relative;
    font-weight: 1000;
    margin-top: 1em;
    font-size: 2.5em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

.experience .experienceInfo {
    margin-top: 2em;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 1.1em;
}

.experience .experienceInfo .experienceBubble {
    border-style: solid;
    border-radius: 2em;
    border-color: var(--secondary3);
    background-color: var(--primary1);
    margin-bottom: 1em;
    transition: transform 0.2s;
    padding-left: 0em;
    height: 10em;
    overflow:hidden;
    width: 100%;
    text-align: left;
}

.experience .experienceInfo .experienceBubble:hover {
    transform: scale(1.05);
    box-shadow: 0.3em 0.3em 0.5em rgb(70, 70, 70);
}

.experience .experienceInfo .experienceBubble img {
    height: 100%;
    width: 25%;
    margin-left: 0em;
    margin-right: 1em;
    float: left;
    object-fit: cover;
}

.experience .experienceInfo .experienceBubble .experienceSubtitle {
    font-weight: 800;
    display: block;
    font-size: 160%;
    margin-top: 0.7em;
}

.experience .experienceInfo .experienceBubble .experienceText {
    display: block;
    letter-spacing: 2px;
    font-size: 100%;
    font-weight: 500;
    margin-top: 1em;
}

.experience .experienceInfo .experienceBubble .experienceLink {
    margin-top: 1em;
    bottom: 0;
    color: var(--secondary4);
    font-size: 100%;
    position: relative;
}

.popupBody {
    border-style: solid;
    border-radius: 2em;
    border-color: var(--secondary3);
    background-color: var(--secondary5);
    display: none;
    width: 50%;
    height: 50%;
    transform: translate(-50%, 0%);
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 50%;
    overflow: auto;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.popupBody .popupContent {
    color: var(--secondary1);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: var(--secondary1);
    text-decoration: none;
    cursor: pointer;
}
.popupBody .popupDescription{
    margin-top: 1em;
    text-indent: 2em;
}
.popupBody .popupTitle {
    margin-top: 0.5em;
    font-weight: 800;
    font-size: 150%;
}
.popupBody .popupDate {
    margin-top: 0.5em;
    font-weight: 300;
    font-size: 80%;
    font-style: italic;
}
</style>

<div class="experience" id="experience">
    <div class="experienceTitle">Experience</div>
    <hr>
    <div class="experienceInfo">
        {% for experience in experiences %}
            <div class="experienceBubble" onclick="openPopup('{{ experience.id }}')">
                <img src="{{url_for('static', filename='images/'~experience.image)}}" alt='Image'>
                <div class="experienceSubtitle">{{ experience.title }}</div>
                <div class="experienceText">{{ experience.shortDescription }}</div>
                <div class='experienceLink'>Click here to read more</div>
            </div>
            <div class='popupBody' id='{{ experience.id }}'>
                <div class='popupContent'>
                    <div class="close" onclick="closePopup('{{ experience.id }}')">&times;</div><br>
                    <div class="popupTitle">{{ experience.title }}</div>
                    <div class="popupDate">{{ experience.date }}</div>
                    <div class="popupDescription">
                        {{ experience.longDescription|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>