:root {
    --primary1: rgb(212, 207, 169);
    --primary1dark: rgb(132,128,106);
    --secondary1: rgb(0, 0, 0);
    --secondary2: rgb(86, 133, 151);
    --secondary3: rgb(68, 68, 68);
    --secondary4: rgb(161, 161, 161);
    --secondary5: white;

    --primaryfont: 'Roboto', sans-serif;
}