.contactme {
    width: 100%;
    background-color: var(--secondary3);

    padding-top: 2em;
    margin-left: 0em;
    margin-right: 0em;

    font-family: var(--primaryfont)
}

.contactme hr {
    height: 1px;
    width: 60%;
    border-color: var(--secondary4);
    background-color: var(--secondary4);
}

.contactme .contactmeTitle {
    color: var(--secondary4);
    font-family: var(--primaryfont);
    position: relative;
    font-weight: 1000;
    margin-top: 1em;
    font-size: 2.5em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

.contactme .contactInfo {
    padding-top: 2em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    font-size: 90%;

    letter-spacing: 2px;
}
.contactme .contactInfo a {
    text-decoration: none;
    color: var(--secondary4);
}

.contactme .contactInfo a:hover{
    color: var(--secondary5);
}