.experience {
    width: 100%;
    height: auto;
    background-color: var(--secondary5);

    padding-top: 2em;
    margin-left: 0em;
    margin-right: 0em;

    font-family: var(--primaryfont);
}

.experience hr {
    border: none;
    height: 1px;
    width: 60%;
    background-color: var(--secondary3);
}

.experience a {
    text-decoration: none;
    color: var(--secondary1);
}

.experience .experienceTitle {
    color: var(--secondary2);
    font-family: var(--primaryfont);
    position: relative;
    font-weight: 1000;
    margin-top: 1em;
    font-size: 2.5em;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

.experience .experienceInfo {
    margin-top: 2em;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 1.1em;
}

.experience .experienceInfo .experienceBubble {
    border-style: solid;
    border-radius: 2em;
    padding: 1em;
    background-color: var(--primary1);
    margin-bottom: 1em;
    transition: transform 0.2s;
}

.experience .experienceInfo .experienceBubble:hover {
    transform: scale(1.05);
    box-shadow: 0.3em 0.3em 0.5em rgb(70, 70, 70);
}

.experience .experienceInfo .experienceBubble .experienceSubtitle {
    font-weight: 1000;
    font-size: 115%;
}

.experience .experienceInfo .experienceBubble .experienceLocation {
    color: var(--secondary3);
}
.experience .experienceInfo .experienceBubble .experienceDate {
    color: var(--secondary3);
    margin-bottom: 1em;
}

.experience .experienceInfo .experienceBubble .experienceDescription {
    color: var(--secondary1);
}